body{
	background-color: black;
}

#twitch a {
	display: inline-block;
	background: url("images/twitch_hover.png") no-repeat;
	background-size: 30px 30px;

}


#twitch a:hover img {
	visibility: hidden;
}

#discord a {
	display: inline-block;
	background: url("images/discord_hover.png") no-repeat;
	background-size: 30px 30px;

}


#discord a:hover img {
	visibility: hidden;
}

#youtube a {
	display: inline-block;
	background: url("images/ytb_hover.png") no-repeat;
	background-size: 30px 30px;

}


#youtube a:hover img {
	visibility: hidden;
}

#instagram a {
	display: inline-block;
	background: url("images/insta_hover.png") no-repeat;
	background-size: 30px 30px;

}


#instagram a:hover img {
	visibility: hidden;
}

#twitter a {
	display: inline-block;
	background: url("images/twitter_hover.png") no-repeat;
	background-size: 30px 30px;

}


#twitter a:hover img {
	visibility: hidden;
}

#facebook a {
	display: inline-block;
	background: url("images/facebook_hover.png") no-repeat;
	background-size: 30px 30px;

}


#facebook a:hover img {
	visibility: hidden;
}


code :a img { border: none; }

#navigation{
	list-style: none;
	margin: 0;
	padding: 0;
}


#navigation li {

	display: inline;

}

#navigation li a{

	padding-right: 5%;
	padding-left: 5%;
	color: silver;
	font-size: 1.7em;
	text-decoration: none;
}

#navigation li a:hover{
	color: #DA5B32;
}


.orange:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    left: 0;
    margin-top: 0px;
    background-image: url("images/orange.png");
}



.bandeau {
	content: "";
    position: absolute;
    color: #DA5B32;

    width: 100%;
    height: 80px;
    left: 0;
    margin-top: 0px;
    background-image: url("images/noir.png");
}
.bandeau img{
	opacity: 0.6;
	padding-right: 100px;
	padding-left: 100px;
}

.bandeau img:hover{
	opacity: 1;
}


#gros{
	display: inline-block;

	vertical-align: top;
	
	width: 64.4%;
	height: 703px;

}

#petit{
	width: 35%;
	height: 700px;
	display: inline-block;
	

	
}
#logo{
	display: inline-block;
	width: 20%;
	vertical-align: top;

}

nav {
	display: inline-block;
	text-align: center;
	vertical-align: bottom;
	margin-left: 20px;
	width: 49%;
	height: 63px;
	

}

#reseaux{
	display: inline-block;
	vertical-align: bottom;
	height: 68px;
	width: 25%;
}
#reseaux div{
	display: inline;
	padding: 10px;
}

.shop{
	padding-top: 70px;
	display: inline-block;



}

.shop a{
	vertical-align: top;
}


.orange1:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    left: 0;
    margin-top: 0px;

    background-image: url("images/orange.png");
}

footer h1{
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	text-align: center;
	font-family: impact;
}

#nav2{
	display: inline-block;
	
	width: 50%;

}
#navigation2{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#navigation2 li {
	display: inline;
}

#navigation2 li a{
	padding-right: 7%;
	padding-left: 7%;
	color: gray;
	font-size: 1em;
	text-decoration: none;
}

#navigation2 li a:hover{
	color: #DA5B32;
}
.up{
	display: inline-block;
	width: 49%;
	
}
.up a{

	color: gray;
	text-decoration: none;
	font-size: 1em

}

.up a:hover{
	color: #DA5B32;
}

footer p{
	color: gray;
	margin: 0;
	padding-top: 50px;
	padding-left: 20px;
}

.dev {
	text-align: center;
	color: white;
	padding: 40px;
	padding-bottom: 27%;
	font-size: 3em;
}